<!DOCTYPE html>
<html>
  <head>
    <title>Volunteer Tracker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='../css/styles.css'>
  </head>
  <body>
    <div class="container-fluid">
        <div class="panel-title panel">
          <h1>Volunteer Tracker</h1>
        </div>
    </div>
    <br>
    <div class="container-fluid">
      <div class="panel panel-custom">
        <div class="panel-body">
            <%= yield %>
        </div>
      </div>
      <a href="/">Home</a><br>
      <form action="/clear_all" method="post">
        <button type="submit" name="clear_all">Clear Database</button>
      </form>
    </div>
    </div>
  </body>
</html>
